APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=INFO
REQUEST_TIMEOUT_SECONDS=20
AUDIOBOOKSHELF_AUTH_TOKEN=
SCRAPER_USER_AGENT=
ENABLE_ALZA=false
ENABLE_ALBATROSMEDIA=true
ENABLE_AUDIOLIBRIX=true
ENABLE_AUDIOTEKA=true
ENABLE_KANOPA=true
ENABLE_KNIHYDOBROVSKY=true
ENABLE_KOSMAS=true
ENABLE_LUXOR=true
ENABLE_MEGAKNIHY=true
ENABLE_NAPOSLECH=true
ENABLE_ONEHOTBOOK=true
ENABLE_O2KNIHOVNA=true
ENABLE_PALMKNIHY=true
ENABLE_PROGRESGURU=true
ENABLE_RADIOTEKA=true
ENABLE_ROZHLAS=true
